.fullheight {
  min-height: 100vh;
  padding-top: 100px;
}

.HeroSection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  /* grid-template-rows: 1fr; */
}

.button {
  padding: 20px;
  background-color: #d53844;
  text-align: center;
  border-radius: 4px;
  font-size: 15px;
}
.buttonList {
  display: flex;
  gap: 40px;
}
.button {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #d53844;
  transition: 0.6s;
}
.button:hover {
  background-color: transparent;
  color: black;
}
.kalkulator {
  width: 60%;
}