.list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding:0;
    /* margin-top: 70px; */
    gap:10px;
    max-width:400px;
    width: 100%;
}
.li{
    max-width:400px;
    width: 100%;
    border: 1px solid #d53844;
    /* border-radius: 16px; */
    box-sizing: border-box;
}
.li img {
    /* width:100%; */
    max-height: 100px;
}
.link div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size:14px;
    height: 100%;
    text-align: center;
    color:#d53844;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
}
.link:hover {
    /* color: white; */
    background-color: rgba(226, 214, 215, 0.9);
}
.selected {
    background-color: rgba(226, 214, 215, 0.9);
}